.send-message {
  padding: 16px 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #424242;
  box-sizing: border-box;
  width: 700px;
  margin: 0 auto;
}

.send-message__form {
  background-color: lightgray;
  display: contents;
}

.send-message__form-input {
  width: 540px;
  height: 24px;
  border: none;
  border-radius: 16px;
  padding: 13px;
  outline: none;
  background-color: #f2f2f2;
  /* box-sizing: border-box; */
}

.send-message__submit-btn {
  background-color: #4285f4;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.send-message__submit-btn:disabled {
  background-color: gray;
  cursor: default;
}

.send-message__submit-btn:hover:enabled {
  transition: 0.5s;
  opacity: 0.7;
}
